[colors]
# Base16 Gruvbox
# Scheme: Gordon Chiam (https://github.com/gchiam)

foreground      = #d5c4a1
foreground_bold = #d5c4a1
cursor          = #d5c4a1
background      = #282828

# 16 color space
color0  = #282828
color1  = #cc241d
color2  = #98971a
color3  = #d79921
color4  = #458588
color5  = #b16286
color6  = #689d6a
color7  = #d5c4a1
color8  = #ebdbb2
color9  = #cc241d
color10 = #98971a
color11 = #d79921
color12 = #458588
color13 = #b16286
color14 = #689d6a
color15 = #fbf1c7

# 256 color space
color16 = #d65d0e
color17 = #a89984
color18 = #504945
color19 = #7c6f54
color20 = #bdae93
color21 = #ebdbb2
